html, body, #root {
    height: 100%;
}
.center-container{
    padding-left: 65px;
    padding-top: 50px;
}
.page-heading{
    padding: 0.5em;
    color: #4e4fa1;
}

.add-button{
    background-color: #4e4fa1;
    color: #fff;
    border: none ;
    box-shadow: none
}
.add-button:hover{
    background-color: #424492;
}

.btn:focus{
    box-shadow:none !important;border: none;
    background-color: #424492;
}
input:focus, input:active{
    box-shadow:none !important;
    
}